/* src/App.css */
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App-background {
  background-image: url('background.svg');
  background-repeat: no-repeat;
  background-position: 70% 40%;
  position: absolute;
  background-size: 150%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.App-header {
  /* background-color: rgba(255, 255, 255, 0.4); */
  /* 背景を半透明に設定 */
  /* padding: 20px; */
  /* border-radius: 20px; */
  height: 60%;
  width: 100%;
}

.App-title {
  font-size: 3.5em;
  color: black;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.App-subtitle {
  font-size: 1.2em;
  color: #b3b3b3;
  margin: 0.5em;
}

.App-buttons {
  margin: 80px 0;
  position: relative;
  top: 10%;
}

.App-button {
  display: block;
  width: 10em;
  height: 3em;
  padding: 10px;
  margin: 15px auto;
  font-size: 2.5vh;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
}

.App-button:hover {
  background-color: #333;
}

.App-input {
  text-align: center;
  font-size: 2.5vh;
  width: 11em;
  height: 3em;
  color: #636363;
  border: none;
  border-radius: 0.7em;
  margin: 0.5vh 0;
}

.App-language {
  margin-top: 2.5vh;
  text-align: center;
}

select {
  padding: 1vh;
  font-size: 2vh;
  border-radius: 1vh;
  border: 0.1vh solid #cccccc;
}


.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: rgba(143, 143, 143, 0.4);
}