/* src/GameScreen.css */
.GameScreen {
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100%;
    /* width: 85%;
    height: 70%; */
    background-color: rgb(233, 233, 233);
}

.GameScreen-logo {
    width: 29vh;
    height: auto;
    position: relative;
    right: 25%;
    top: 3%
}

.GameScreen-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vh;

    position: absolute;
    left: 60%;
    top: 17%;

    margin: 1vh;
}

.GameScreen-room {
    display: flex;
    height: auto;
    margin: 0;
    font-size: 7vw;
}

.GameScreen-roomCode {
    font-size: 8vw;
    font-weight: bold;
    height: auto;
    margin: 0;
}

.GameScreen-qr {
    width: 10vh;
    height: 10vh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: none;
    border-radius: 0.5em;

    right: 3%;
    top: 30%;

    margin: 1vh;
}

#qrcode {
    width: 80%;
    height: auto;
}

/* モーダルのスタイル */
.qr-modal {
    display: none;
    /* 初期状態では非表示 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    /* 背景の暗いオーバーレイ */
}

.qr-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.qr-modal-content #qrcode-large {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.GameScreen-url-container {
    margin: 2.5vh;

    width: 60%;
    height: 5%;

    position: absolute;
    right: 29.5%;
    top: 33%;

}

.GameScreen-url {
    text-align: left;
    font-size: 2vh;
    color: #636363;
    border: 0.1vh solid #000000;
    border-radius: 1.5vh;

    width: 90%;
    height: 100%;

    padding-left: 5%;
    padding-right: 15%;
}

.share-button {
    width: 3vh;
    height: 3vh;
    background-color: #999999;
    border: none;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    position: absolute;
    float: right;
    right: -5vw;
    top: 25%;
    z-index: 1;
}

.share-button:hover {
    background-color: #5e5e5e;
}

.GameScreen-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    width: 90%;
    height: 45%;
    margin-top: 20px;
}

.gamemaster {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* font-weight: bold; */
}

.crown {
    margin-right: 0.5vh;
}

.GameScreen-underline {
    text-decoration: underline;
}

.GameScreen-participants {
    position: relative;
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    border: #000 0.1vh solid;
    border-radius: 5%;

    padding: 0 5%;
    margin: 2vh 0;
    scrollbar-gutter: stable;
}

.GameScreen-participants::-webkit-scrollbar {
    width: 3vw;
}

.GameScreen-participants::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    /* スクロールバーの色 */
    border-radius: 1vh;
    /* スクロールバーの角を丸くする */
}

.GameScreen-participants::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* スクロールバーをホバーしたときの色 */
}

.GameScreen-gamemaster {
    font-weight: bold;
    color: #000000;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.GameScreen-player {
    display: flex;
    padding: 0vh 0vh;
    margin: 2vh 0;
    font-size: 6vw;
}

.GameScreen-participants ul {
    list-style: none;

    padding: 0;
    margin: 0 3vh;
}

.GameScreen-participants li {
    display: flex;
    align-items: center;
    border-bottom: #969696 0.1vh solid;
    width: 100%;
    font-size: 2vh;
    padding: 10px 0;
}

.GameScreen-startButton {
    background-color: #000;
    color: #fff;
    width: 60%;
    height: 10%;

    font-size: 1.5vh;

    border: none;
    border-radius: 10%;
}

.GameScreen-startButton:hover {
    background-color: #333;
}

.GameScreen-status {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #acacac;
}