.PhotoInput {
  position: relative;
  width: 100%;
  max-width: 360px;
  /* Adjust the max-width to fit within your design */
  margin: 0 auto;
  background-color: black;
  /* Background color for the video area */
  overflow: hidden;
  /* Hide any overflow from the video element */
  border-radius: 8px;
  /* Optional: Add rounded corners */
}

.PhotoInput-video {
  width: 100%;
  /* Ensure the video scales with the container */
  height: auto;
  /* Maintain aspect ratio */
  object-fit: cover;
  /* Ensure the video covers the container */
}

.PhotoInput-canvas {
  display: none;
  /* The canvas is hidden during capture */
}

.PhotoInput-error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.PhotoInput-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* 枠を赤で縁取り */
  border: 2px solid red;
  /* 角を丸く */
  border-radius: 10px;
}