.PhotoInput {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  background-color: black;
  overflow: hidden;
  border-radius: 8px;
}

.PhotoInput-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: none;
}

.PhotoInput-canvas {
  display: none;
}

.PhotoInput-error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.PhotoInput-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 2px solid red;
  border-radius: 10px;
}